src/main/mule/crm-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="crm-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="crm-api-config" raml="crm-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="efb02489-99d9-417b-83b9-74b2b73824d7">
        <salesforce:cached-basic-connection username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.token}" url="${sfdc.url}" />
    </salesforce:sfdc-config>
    <configuration-properties doc:name="Configuration properties" doc:id="d5ba46e7-7547-4e2b-83a8-76f31d050491" file="${mule.env}-config.properties" />
    <cloudhub:config name="CloudHub_Config" doc:name="CloudHub Config" doc:id="cf5e533e-d87c-4ac4-9fe1-df182d71da88">
        <cloudhub:connection username="${cloudhub.username}" password="${cloudhub.password}" environment="${environment.id}" />
    </cloudhub:config>
    <global-property doc:name="Global Property" doc:id="f2ce0496-631f-4b66-8bf9-61b21c5f88e9" name="mule.env" value="dev" />
	<flow name="crm-api-main">
        <http:listener config-ref="crm-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="crm-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8337e189-0052-409b-bac7-9a5f40f11088">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="48024303-d421-42b6-93ef-a47e95a85ed7">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="4722d9bb-315b-41cb-a726-6769c66ffef2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="crm-api-console">
        <http:listener config-ref="crm-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="crm-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\contacts\(id):crm-api-config">
        <flow-ref doc:name="Call get contact flow" doc:id="b41c8200-8d70-4b36-86a3-d87df3f75ed6" name="get-contact-flow" />
    </flow>
    <flow name="get:\contacts:crm-api-config">
		<flow-ref doc:name="Call get contacts flow" doc:id="e56bfed4-5c03-489b-b853-c62f1b7392aa" name="get-contacts-flow"/>
    </flow>
	<sub-flow name="get-contact-flow" doc:id="9ee6b8e3-3b8b-431f-9706-5726418add81">
        <logger level="INFO" doc:name="Log Request" doc:id="4ed3b6b8-69aa-4751-88db-6bcdaff8a0e7" message="Getting details for contact with id: #[attributes.uriParams.id]" />
        <try doc:name="Try" doc:id="3cf82f46-ecc7-45dc-9bce-f92d80a5b51e">
            <salesforce:query-single doc:id="ce4809c7-6feb-4420-9805-0a4f653d9147" target="contactDetails" doc:name="Get Full Contact Details" config-ref="Salesforce_Config">
                <reconnect />
                <salesforce:salesforce-query>SELECT Id, FirstName, LastName, Email, LastModifiedDate, Account.Name FROM Contact WHERE Id = ':ContactId'</salesforce:salesforce-query>
                <salesforce:parameters><![CDATA[#[output application/java
---
{
	ContactId : attributes.uriParama.id
}]]]></salesforce:parameters>
            </salesforce:query-single>
            <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5542f9ed-a314-4bfe-b91e-d1671a3d5833" doc:name="Transform result to response format">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	firstname: vars.contactDetails.FirstName default "",
	phone: "",
	created: "",
	modified: vars.contactDetails.LastModifiedDate as String default "",
	id: vars.contactDetails.Id default "",
	email: vars.contactDetails.Email default "",
	lastname: vars.contactDetails.LastName default ""
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="Invalid Id error" doc:id="bb96d748-6394-46c7-adfd-bdca9abf7336" type="SALESFORCE:UNKNOWN" when="error.description contains &quot;INVALID_QUERY_FILTER_OPERATOR&quot;">
                    <logger level="WARN" doc:name="Log Warning" doc:id="24dda62d-3284-4a0f-8ebb-c5ff4611fa69" message="Contanct Id invalid: #[attributes.queryParams.id]" />
                    <ee:transform doc:name="Transform Message" doc:id="d81021f0-e053-4c25-97d5-339744190b5a">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Invalid contact id"
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
                <on-error-continue enableNotifications="true" logException="true" doc:name="Cannot connect error" doc:id="3a62c897-8948-4178-9516-2932ffbad888" type="SALESFORCE:CONNECTIVITY">
                    <logger level="ERROR" doc:name="Log Error" doc:id="06b2d380-f174-4488-a8fb-7dd2208e4884" message="Cannot connect to Salesforce" />
                    <ee:transform doc:name="Transform Message" doc:id="a3758f4d-6834-48df-974f-10f50feed327">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Cannot connect to Salesforce. " ++ error.cause.message as String default ""
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus"><![CDATA[503]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
                <on-error-propagate enableNotifications="true" logException="true" doc:name="Unknown error" doc:id="c9003fa5-b2db-440c-b022-623ece741058" type="ANY">
                    <logger level="ERROR" doc:name="Log Error" doc:id="bec34f2c-e0df-47d6-a580-97c89720d62c" message="Unknown error: #[error.detailedDescription]" />
                    <cloudhub:create-notification domain="${domain}" doc:name="Create Notification" doc:id="09b021d9-69f0-4272-a1a9-4dce1544e834" config-ref="CloudHub_Config" />
                </on-error-propagate>
            </error-handler>
        </try>
    </sub-flow>
	<sub-flow name="get-contacts-flow" doc:id="a2dc00b3-ef38-4cb4-b963-59236d27aff1" >
		<logger level="INFO" doc:name="Log request" doc:id="237b07e9-a2b9-40c5-80c6-26ef993f6e31" message="Got contacts changed since: #[attributes.queryParams.changedSince]"/>
		<try doc:name="Try" doc:id="a34c7b38-49b5-416f-a2d4-d4d096f11946" >
			<set-variable value='#[attributes.queryParams.changedSince as String ++ "Z"]' doc:name="Format input datatime" doc:id="e56c0ee0-68cb-44f5-b838-aaf1ecd80285" variableName="sinceDateTime"/>
			<salesforce:query-all doc:name="Get changed contact details" doc:id="4f70fbc4-1f59-4823-bd26-59ce2752f3a0" config-ref="Salesforce_Config">
				<salesforce:salesforce-query >SELECT Id, FirstName, LastName, Email, LastModifiedDate, CreatedDate, Account.Name FROM Contact WHERE LastModifiedDate &gt; :SinceDate OR CreatedDate &gt;  :SinceDate  </salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	SinceDate : vars.sinceDateTime
}]]]></salesforce:parameters>
			</salesforce:query-all>
			<logger level="INFO" doc:name="Log result" doc:id="aae86872-5bce-4236-8ecc-f49a77a4eb7c" message="#[output application/json --- payload]"/>
			<ee:transform doc:name="Transform result to response format" doc:id="4182e63e-9f10-412d-8a95-361c480f4425" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(item, index) -> {
	id: if (item.Account != null) item.Account.Name default "" else "",
	firstname: item.FirstName default "",
	phone: "",
	created: item.CreatedDate as String default "",
	modified: item.LastModifiedDate as String default "",
	email: item.Email default "",
	lastname: item.LastName default ""
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="Invalid Id error" doc:id="561eaae3-81c7-4e89-87bb-3bfca54d2147" type="SALESFORCE:UNKNOWN" when='error.description contains "INVALID_QUERY_FILTER_OPERATOR"' >
					<logger level="WARN" doc:name="Log Warning" doc:id="953e4dd6-1d3c-4b52-9af9-a84c1928307f" message="Contanct Id invalid: #[attributes.queryParams.id]" />
					<ee:transform doc:name="Transform Message" doc:id="ed10fe46-0843-4e07-816f-7760dcd82981" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Invalid contact id"
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-continue>
				<on-error-continue enableNotifications="true" logException="true" doc:name="Cannot connect error" doc:id="959f5d6a-d6fd-4a3c-bb0e-efabe72ab337" type="SALESFORCE:CONNECTIVITY" >
					<logger level="ERROR" doc:name="Log Error" doc:id="41a144f5-878f-419c-86e5-601790e30e84" message="Cannot connect to Salesforce" />
					<ee:transform doc:name="Transform Message" doc:id="29253d2a-721e-4cdf-9f00-98bf5733b4b4" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Cannot connect to Salesforce. " ++ error.cause.message as String default ""
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[503]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-continue>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="Unknown error" doc:id="8c2e86a8-0140-48e6-94db-5fc3b0b8bdb1" type="ANY" >
					<logger level="ERROR" doc:name="Log Error" doc:id="e4c2979f-7251-4dcb-b18f-4b03068fc422" message="Unknown error: #[error.detailedDescription]" />
					<cloudhub:create-notification domain="${domain}" doc:name="Create Notification" doc:id="155c2277-2be8-45a6-b128-d2cc724f62e6" config-ref="CloudHub_Config" />
				</on-error-propagate>
			</error-handler>
		</try>
	</sub-flow>
</mule>
